main {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
}

#ganesh-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ganesh-center img {
    width: 60%;
    height: auto;
    margin: 0;
}

#ganesh-center-text {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

#presentation-text {
    margin: 0;
    font-size: 18px;
    text-align: center;
    width: 60%;
}

#ganesh-about {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 8%;
    margin-right: 8%;
    border: 0;
    padding: 15px 25px;
    border-radius: 10px;

    background-color: #27262694;
}

#ganesh-about h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

#about-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: #27262694;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    width: 9rem;
    border: 1px solid #737373;
    border-radius: 3px;
}

#about-button:hover {
    background-color: #737373;
    color: #ffffff;
    animation: pulse 0.5s; 
}
